@import "tailwindcss";

@theme {
  --color-primary: #136dec;
  --color-background-dark: #101822;
  --color-surface: #192433;
  --color-border-dim: #233348;
  --color-accent-green: #0bda5e;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  section {
    scroll-margin-top: 5rem;
  }
  body {
    @apply bg-background-dark text-slate-100 antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-surface/80 backdrop-blur-md border border-border-dim;
  }
}
